body {
    text-align: center;
    background-image: url("../images/background/gaming-pattern.png"); /* Pattern from www.toptal.com/designers/subtlepatterns/*/ 
    background-color: grey;
    font-family: 'Indie Flower', cursive; /* Font from https://fonts.google.com/specimen/Indie+Flower */
    font-size: 100%;
}

h1 {
    margin: .2em auto 0;
    padding: 0;
    font-size: 4em;
    color: rgba(0, 0, 0, .85);
}

p {
    margin: 0;
    padding: 0;
    font-size: 2em;
    color: rgba(0, 0, 0, .85);
}

footer {
    font-size: .4em;
    font-family: Arial, sans-serif;
    color: grey;
}